.group-title {
  width: 100%;
  text-align: start;
  font-weight: 700;
  padding-bottom: 1rem;
  font-size: 1.25rem;
}

.inner-grid-container {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
}

.inner-grid-item {
  min-height: 70px;
}
