<ng-container *ngIf="formPreview$ | async as form">
  <!-- Title -->
  <div class="form-title">{{ form.title }}</div>

  <!-- Form -->
  <form [formGroup]="formGroup" class="grid-container">
    <div
      class="grid-item"
      *ngFor="let group of form.groups"
      [ngStyle]="{ 'grid-column-end': 'span ' + group.span }"
    >
      <app-form-group [formGroup]="formGroup" [group]="group"></app-form-group>
    </div>
  </form>

  <!-- Actions -->
  <div class="actions-container">
    <button
      [disabled]="formGroup.invalid"
      appButton
      (click)="addFormToList(form)"
    >
      Add
    </button>

    <button
      color="secondary"
      [disabled]="formGroup.invalid"
      appButton
      (click)="printFormValue()"
    >
      Print
    </button>

    <button color="neutral" appButton (click)="validateForm()">Validate</button>
  </div>
</ng-container>

<!-- Output Display -->
<div *ngIf="formOutput$ | async as formOutput" class="form-output">
  <h3>Form Output:</h3>
  <hr />
  <span class="form-output-item" *ngFor="let item of formOutput | keyvalue">
    {{ item.key }}: {{ !item.value || !item.value.length ? "-" : item.value }}
  </span>
</div>
