:host {
  background-color: white;
  height: 100%;
  width: 100%;
}

.internalMatGrid {
  width: 100%;
}

.mat-grid-tile-content {
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.grid-item {
  display: inline-block;
  background-color: lightblue;
  padding: 10px;
  text-align: center;
}

.inner-grid-container {
  display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  grid-auto-flow: column;
}

.inner-grid-item {
  background-color: cyan;
  min-height: 70px;
}

.actions-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
