<div (click)="picker.open()" matRipple class="button">
  <span *ngIf="(dateJson$ | async) === ''; else date" class="placeholder">
    Pick a date
  </span>

  <ng-template #date>
    {{ dateJson$ | async | date : "MM, d-yyyy" }}
  </ng-template>
</div>
<div (click)="clearControl()" class="cancel-button">X</div>

<!-- Hidden calendar content -->
<span class="hidden-container">
  <input [formControl]="datepickerControl" matInput [matDatepicker]="picker" />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker> </mat-datepicker>
</span>
