<div (click)="picker.open()" matRipple class="button">
  <!-- Placeholder -->
  <span *ngIf="(dateJson$ | async) === ''; else date" class="placeholder">
    {{ placeholder }}
  </span>

  <!-- Date presentation -->
  <ng-template #date>
    {{ dateJson$ | async | date : "MM, d-yyyy" }}</ng-template
  >

  <!-- Calendar icon -->
  <!-- <i class="las la-calendar"></i> -->
</div>

<!-- Hidden content - Start -->
<span class="hidden-container">
  <input [formControl]="datepickerControl" matInput [matDatepicker]="picker" />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker>
    <mat-datepicker-actions>
      <!-- <button
        (click)="cancelDate.next()"
        matDatepickerCancel
      >
        Clear
      </button> -->
      <button matDatepickerApply>Apply</button>
    </mat-datepicker-actions></mat-datepicker
  >
</span>
