<div (click)="picker.open()" matRipple class="button">
  <span *ngIf="(dateJson$ | async) === ''; else date" class="placeholder">
    {{ placeholder }}
  </span>

  <ng-template #date>
    {{ dateJson$ | async | date : "MM, d-yyyy" }}
  </ng-template>
</div>

<!-- Hidden content -->
<span class="hidden-container">
  <input [formControl]="datepickerControl" matInput [matDatepicker]="picker" />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker>
    <mat-datepicker-actions>
      <button (click)="clearControl()" matDatepickerCancel>Clear</button>
      <button matDatepickerApply>Apply</button>
    </mat-datepicker-actions></mat-datepicker
  >
</span>
