:host {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: white;

  select {
    outline: none;
    border: solid 1px green;
    border-radius: 6px;
    padding: 0.5rem 1rem;
  }
}

// .selected-option-name {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 0.5rem;
//   border: 1px solid blue;
//   cursor: pointer;
// }

// .options-container {
//   // max-width: 400px;
//   background-color: white;
//   border: 1px solid silver;
//   border-top: none;
//   width: 100%;
//   position: absolute;
//   top: 100%;
//   left: 0;
//   z-index: 999;
// }

// .option {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   gap: 1rem;
//   padding: 0.5rem;
//   cursor: pointer;
// }

// .disabled {
//   background-color: cyan;
//   color: silver;
//   cursor: default;
// }
