:host {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: white;

  select {
    outline: none;
    border: 2px solid;
    border-radius: 6px;
    padding: 0.5rem 1rem;
  }
}
