<div appClickOutside (appClickOutside)="handleClickOutside($event)">
  <app-text-input
    [formControl]="textInputControl"
    (click)="dropdownEnabled$.next(true)"
  ></app-text-input>

  <ng-container *ngIf="displayedOptions$ | async as displayedOptions">
    <div
      *ngIf="(dropdownEnabled$ | async) && displayedOptions.length"
      class="dropdown"
    >
      <div
        *ngFor="let option of displayedOptions"
        (click)="setValue(option)"
        class="dropdown-option"
      >
        {{ option }}
      </div>
    </div>
  </ng-container>
</div>
