:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid;
  padding: 0.5rem;
  gap: 0.5rem;
}

.form-title {
  width: 100%;
  font-weight: 700;
  cursor: default;
}

.action-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
