<app-sidebar
  [formList]="formList"
  (upload)="addFormToList($event)"
  (select)="removeFormPreview(); addFormPreview($event)"
  (remove)="removeFormFromList($event)"
></app-sidebar>

<app-form
  *ngIf="formPreview"
  [formGroup]="formGroup"
  [formPreview]="formPreview"
>
  <ng-template appFormHeader>
    <div class="form-title-container" (dblclick)="toggleTitleEdit()">
      <app-text-input
        *ngIf="titleEditable; else staticTitle"
        [formControl]="titleControl"
        (keyup)="toggleTitleEdit($event)"
      ></app-text-input>

      <ng-template #staticTitle>
        <div class="form-title">
          {{ titleControl.value }}
        </div>
      </ng-template>
    </div>
  </ng-template>

  <ng-template appFormFooter>
    <!-- Actions -->
    <div class="actions-container">
      <button
        [disabled]="formGroup.invalid"
        appButton
        (click)="addFormToList(formPreview)"
      >
        Add
      </button>

      <button
        color="secondary"
        [disabled]="formGroup.invalid"
        appButton
        (click)="updateFormOutput()"
      >
        Print
      </button>

      <button color="neutral" appButton (click)="updateFormValidityDisplay()">
        Validate
      </button>
    </div>

    <!-- Output Display -->
    <app-form-output
      *ngIf="formOutput"
      [formOutput]="formOutput"
    ></app-form-output>
  </ng-template>
</app-form>
