/* You can add global styles to this file, and also import other style files */

:root {
  --primary: green;
  --secondary: rgb(35, 112, 255);
  --neutral: gold;
  --warn: red;
  --font: rgb(9, 9, 31);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
}
