:host {
  display: inline-block;
  width: 100%;
}

input {
  padding: 0.5rem;
  width: 100%;
  outline: none;
  border: solid 1px green;
  border-radius: 6px;
  color: var(--font);

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
