:host {
  display: inline-block;
  width: 100%;
  border: 2px solid;
  border-radius: 6px;
  color: var(--font);
}

input {
  padding: 0.5rem;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
